h4 {
    font-family: 'TimesNewRoman';
    color: rgb(87, 31, 22);
    font-size: 18;
    margin: 0;
    padding: 0;
}

/* p {
    margin: 0;
    padding: 0;
} */

.indikatir {
    margin: 0;
    padding: 0;
}