.text {
    font-size: 20px;
    text-align: center;
}

.but {
    margin-top: 20px;
    border: 2px solid #01588a;
    background: #01588a;
    color: #fff;
    box-shadow: inset 00 6px 4px #FFF;
    border-radius: 10px;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
}